/*General Formatting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body Formatting*/
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********Sketch Container Formatting*********/
/*Format container*/
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
}

/*Format sketch container*/
#sketch-container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    background-color: lightgray;
    padding-top: 50px;
}

/*Format sketch screen*/
#sketch-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    height: 600px;
    background-color: red;
}

/*Format div items in sketch screen*/
#sketch-screen > div {
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

#sketch-screen > div > * {
    flex: 1;
}

/*Add hover class*/
#sketch-screen > div > *.hover {
    background-color: black;
}

/*Format button container*/
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*Format reset button*/
button {
   margin-bottom: 1em;
   display: inline-flex;
   width: 100px;
   padding: 1em;
   justify-content: center;
   align-items: center;
   border-radius: 100px;
   border: 1px solid black;
}